.container-dev-avatar{
  position: absolute;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  height:150px;
}

.container-dev{
  position: absolute;
  left:140px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 140px);
  height:150px;
}


.container-dev-name{
  height:100%;
}

.dev-name{
  color:rgb(27, 34, 40);
  font-size: 1.4rem;
  font-weight: 300;
  padding-left: 15px;
}

.container-dev-time{
  height:100%;
}

.dev-time{
  font-size: 3rem;
  font-weight: bolder;
  color:rgb(27, 34, 40);
}

.container-dev-actions{
  height:100%;
}

.dev-actions{
  color:rgb(27, 34, 40);
}
