body {
  background-color: rgb(27, 34, 40);
}

*{
  color: white;
}

.container{
  position: relative;
  height:100vh;
}
.content-card{
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  border-radius:10px;
  height: 250px;
  /*background-color:rgb(96, 125, 139);*/
  background-color:rgb(220, 220, 220);

  -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.6);
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.6);
}

.button-wrapper
{
  text-align: center;
}

.login-button
{
  display: inline-block;
}
